@import "src/theme/theme-variables";

header a {
  text-decoration-line: none;
  color: white;
  margin-right: 25px;
  line-height : 1.5em;
}

header a.active {
  border-bottom: 1px solid;
}

i.material-icons {
  font-size: 20px;
  text-anchor: middle;
}
