@import "src/theme/theme-variables";

/* header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0 px;
  width: 100%;
}
 */
header a {
  text-decoration-line: none;
  color: white;
  margin-right: 25px;
  line-height : 1.5em;
}

header a.active {
  border-bottom: 1px solid;
}

i.material-icons {
  font-size: 20px;
  text-anchor: middle;
}
