.addObject {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.edit-department {
  width: 0%;
}

.department-table, .edit-department {
    height: 400px;
    transition: opacity 1s ease-in-out;
}