.addObject {
  position: absolute;
  right: 20px;
}

ngx-charts-directed-graph {
  min-height: 350px;
}

/deep/ .mat-paginator-page-size {
  display: none !important;
}

/deep/ .mat-table {
  height: 300px;
}