<div class="container-fluid">
  <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
    <h3>No results to display.</h3>
  </div>
  <td-data-table
    #dataTable
    [data]="filteredData"
    [columns]="columns"
    [clickable]="true"
    (rowClick)="changeTreeFocus($event)">
    <ng-template tdDataTableTemplate="type" let-value="value" let-row="row" let-column="column">
      <div layout="row">
        <span flex>{{value}}</span>
      </div>
    </ng-template>
  </td-data-table>
  <td-paging-bar #pagingBar [pageSizes]="[5, 10, 15, 20]" [total]="filteredTotal" (change)="page($event)">
    <span td-paging-bar-label hide-xs>Row per page:</span>
    {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
  </td-paging-bar>
  <ngx-charts-directed-graph
    [scheme]="colorScheme"
    [view]="view"
    [autoZoom]="autoZoom"
    [orientation]="orientation"
    [nodes]="nodes"
    [links]="links">
    <ng-template #defsTemplate>
        <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
          <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
        </svg:marker>
      </ng-template>

      <ng-template #nodeTemplate let-node>
        <svg:g class="node"
          ngx-tooltip
          [tooltipPlacement]="'top'"
          [tooltipType]="'tooltip'"
          [tooltipTitle]="node.label">
          <svg:rect [attr.width]="node.width" [attr.height]="node.height" [attr.fill]="node.options.color" />
          <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 2">{{node.label}}</svg:text>
        </svg:g>
      </ng-template>

      <ng-template #linkTemplate let-link>
        <svg:g class="edge">
          <svg:path
            class="line"
            stroke-width="2"
            marker-end="url(#arrow)" >
          </svg:path>
          <svg:text class="edge-label" text-anchor="middle">
            <textPath
              class="text-path"
              [attr.href]="'#' + link.id"
              [style.dominant-baseline]="link.dominantBaseline"
              startOffset="50%">
              {{link.label}}
            </textPath>
          </svg:text>
        </svg:g>
      </ng-template>
  </ngx-charts-directed-graph>
</div>
