<div fxLayout="column">
  <div fxLayout>
    <div fxFlex="100" class="department-table">
      <div class="department-table-header">
        <md-form-field floatPlaceholder="never">
          <input mdInput #filter placeholder="filtre service">
        </md-form-field>
      </div>
      <md-table #departmentTable [dataSource]="dataSource">
        <ng-container mdColumnDef="name">
          <md-header-cell *mdHeaderCellDef>services</md-header-cell>
          <md-cell *mdCellDef="let row">{{row.name}}</md-cell>
        </ng-container>
        <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *mdRowDef="let row; columns: displayedColumns;" (click)="editAndChangeTreeFocus(row)"></md-row>
      </md-table>
      <button fxFlex md-fab color="primary" class="addObject" (click)="addNewDepartment()" [disabled]="editing">
        <md-icon class="md-24">add</md-icon>
      </button>
      <md-paginator #paginator 
            [length]="dataLength" 
            [pageIndex]="0" 
            [pageSize]="5" 
            [pageSizeOptions]="[5]"
            style="justify-content:center;">
      </md-paginator>
    </div>
    <router-outlet fxFlex="0" name="edit-department-outlet" (onBackEvent)="backFromEdit($event)"></router-outlet>
  </div>
  <div fxLayout >
    <ngx-charts-directed-graph
      [scheme]="colorScheme"
      [view]="view"
      [autoZoom]="autoZoom"
      [orientation]="orientation"
      [nodes]="nodes"
      [links]="links">
      <ng-template #defsTemplate>
          <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
            <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
          </svg:marker>
        </ng-template>

        <ng-template #nodeTemplate let-node>
          <svg:g class="node"
            ngx-tooltip
            [tooltipPlacement]="'top'"
            [tooltipType]="'tooltip'"
            [tooltipTitle]="node.label">
            <svg:rect [attr.width]="node.width" [attr.height]="node.height" [attr.fill]="node.options.color" />
            <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 2">{{node.label}}</svg:text>
          </svg:g>
        </ng-template>

        <ng-template #linkTemplate let-link>
          <svg:g class="edge">
            <svg:path
              class="line"
              stroke-width="2"
              marker-end="url(#arrow)" >
            </svg:path>
            <svg:text class="edge-label" text-anchor="middle">
              <textPath
                class="text-path"
                [attr.href]="'#' + link.id"
                [style.dominant-baseline]="link.dominantBaseline"
                startOffset="50%">
                {{link.label}}
              </textPath>
            </svg:text>
          </svg:g>
        </ng-template>
    </ngx-charts-directed-graph>
  </div>
</div>