:host {
    
        position: relative;
        display: block;
        width: 98vw;
    
        /deep/ router-outlet + * {
            /*position: absolute;*/
            top: 0;
            left: 0;
            width: 100%;
        }
    
}

