<md-card class="departmentForm">
    <md-toolbar class="edit-department-card-header" color="primary">
        <md-card-title>{{formTitle}}</md-card-title>
    </md-toolbar>
    <md-card-content class="edit-department-card-content">
        <form fxLayout="column">
            <md-form-field fxFlex>
                <input type="text" placeholder="{{'DEPARTMENT.departmentNamePH' | translate}}" mdInput [formControl]="departmentControl" required [(ngModel)]="editDepartmentModel.name" name="name">
            </md-form-field>
            <md-form-field fxFlex>
                <input type="text" placeholder="{{'DEPARTMENT.departmentAttachedToLabel' | translate}}" mdInput [formControl]="attachedToControl" required [(ngModel)]="attachedToDepartment.name" name="attachedTo" [mdAutocomplete]="auto" >
            </md-form-field>
            <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
                <md-option *ngFor="let option of filteredOptions | async" [value]="option" (onSelectionChange)="selectedParent(option)">
                    {{option.name}}
                </md-option>
            </md-autocomplete>
        </form>
        {{editDepartmentModel.name}}
        {{editDepartmentModel.attachedTo}}
    </md-card-content>
    <md-card-actions>
        <button md-button (click)="goBackToParent()">{{'GLOBAL.CANCEL' | translate }}</button>
        <button md-button color="primary" (click)="save()">{{'GLOBAL.SAVE'|translate}}</button>
    </md-card-actions>
</md-card>