.edit-department-form {
    height: 100%;
}

.edit-department-card-header {
    margin: -24px !important;
    width: unset;
}

.edit-department-card-content {
    padding-top: 30px;
}

.mat-form-field {
    width: 100%;
}