<div class="container-fluid">
  <nav md-tab-nav-bar class="pad-none">
    <a md-tab-link *ngFor="let tab of tabs"
      [routerLink]="[tab.path]"
      routerLinkActive
      #rla="routerLinkActive"
      [routerLinkActiveOptions]="{exact:true}"
      [active]="rla.isActive">
      {{ tab.label }}
    </a>
  </nav>

<!--   <a routerLink="department">{{'ORGANIZATION.department' | translate}}</a>
  <a routerLink="location">{{'ORGANIZATION.location' | translate}}</a>
  <a routerLink="job">{{'ORGANIZATION.job' | translate}}</a>
 -->
  <router-outlet></router-outlet>
</div>
