<div class="container-fluid">
  <div class="jumbotron text-center">
    <td-data-table
      #dataTable
      [data]="filteredData"
      [columns]="columns">
      <ng-template tdDataTableTemplate="type" let-value="value" let-row="row" let-column="column">
          <div layout="row">
            <span flex>{{value}}</span>
          </div>
        </ng-template>
    </td-data-table>
    <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
      <h3>No results to display.</h3>
    </div>
    <td-paging-bar #pagingBar [pageSizes]="[5, 10, 15, 20]" [total]="filteredTotal" (change)="page($event)">
      <span td-paging-bar-label hide-xs>Row per page:</span>
      {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
    </td-paging-bar>
    <ngx-charts-directed-graph>
    </ngx-charts-directed-graph>
</div>
